{#{% extends "base_template.html" %}#}
{% load staticfiles %}
{#{% block content %}#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
<style>
    body {color: #000000;
    background: url(../static/background_images/three.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;}
    a:link {text-decoration: none}
</style>
{#<div class="row">#}
{#    <div class="col-sm-4 col-md-4 col-lg-4">#}
{#        <div style="text-align: right"><img style="width: 60px;" src="{% static 'background_images/sunn.png' %}"></div>#}
{#    </div>#}
{#    <div class="col-sm-4 col-md-4 col-lg-4">#}
{#        <div style="text-align: center"><img style="width: 350px;" src="{% static 'background_images/pic.png' %}"></div>#}
{#    </div>#}
{##}
{#    <div class="col-sm-4 col-md-4 col-lg-4">#}
{#        <div style="text-align: left"><img style="width: 50px;" src="{% static 'background_images/rainn.png' %}"></div>#}
{#    </div>#}
{#</div>#}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="background: linear-gradient(0deg, rgba(205, 205, 205, 0.03), rgba(255, 255, 255, 0.9), rgba(205, 205, 205, 0.03) ); border-radius: 15px;text-align: center; width: 40%; height: 200px; margin-left: auto; margin-right: auto; padding-top: 60px; color: steelblue">
    <form method="post" action=".">
        {% csrf_token %}
        Username<br>
        {{ form.username }}<br>
        Password<br>
        {{ form.password}}<br>

        <input type="submit" value="Log in">
    </form>

    <p>Not member? <a href="{% url 'register' %}">Register!</a></p>
{#{% endblock %}#}
</div>